//META{"name":"Indigo","description":"A dark purple theme that you can customize. Not compatible with compact mode and light mode. Special thanks to Lyn for pointing out a few mistakes and helping out with themeing enabled settings","author":"Vaxu","version":"1.0.0"}*//{}

@import url(https://rawgit.com/Vaxuuu/Indigo-Theme/master/Indigoraw.css);

:root {
	--main-color: #000000;
	--main-color-transparent: rgba(0,0,0,0.7); /*preferably use the same color as in --main-color, but with decreased opacity via rgba, the same goes for the other transparent colors*/
	--secondary-color: #4B0082;
	--secondary-color-transparent: rgba(75,0,130,0.4);
	--accent-color: #9400d3;
	--accent-color-transparent: rgba(148,0,211,0.4);
}




