/*Scrollbars*/
*::-webkit-scrollbar {
	 width: 5px !important;
}
*::-webkit-scrollbar-track-piece{
        background-color: transparent !important;
        border: 0 !important;	
}
*::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color) !important;
        border-radius: 0 !important;
        border: solid 1px var(--secondary-color-transparent) !important;
}

/*Highlights*/
*::selection {
	background: var(--accent-color)
}

/*Tooltip*/
.tooltip.tooltip-black{
	border: solid 1px var(--secondary-color);
	background-color: var(--main-color);
	border-radius: 0;
}
.tooltip.tooltip-black.tooltip-top:after, .tooltip.tooltip-black.tooltip-bottom:after, .tooltip.tooltip-black.tooltip-right:after, .tooltip.tooltip-black.tooltip-left:after {
	display: none;
}

/*Hide blocked messages*/
.theme-dark .messageGroupBlocked-3wrQQX {
        display: none;
}

/*Getting Mentioned*/
.isMentionedCozy-3isp7y:after {
	background-color: var(--accent-color);
	border-left-color: var(--secondary-color);
        border-radius: 0;
}
.theme-dark .isMentioned-N-h9aa {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}

/*TitleBar*/
.directionRowReverse-m8IjIq {
	background-color: var(--main-color);
	margin: 0;
}
.wordmark-2iDDfm {
	color: white;
}

/*MemberCount plugin*/
.theme-dark #memberCount{
	background-color: var(--main-color) !important;
	color: white !important;
	font-size: 14px;
	border: solid 1px var(--secondary-color);
	border-top: 0;
	border-right: 0;
}

/*Replyer Plugin*/
.reply-list {
        background-color: var(--main-color);
        border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.reply-item {
        background-color: var(--accent-color-transparent);
        border-radius: 0;
}

/*Unread / Active Servers*/
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
	border-radius: 1px;
	background-color: var(--secondary-color);
}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
	background-color: var(--secondary-color);
	border-radius: 1px;
}

/*Server List*/
.theme-dark .guild-1EfMGQ .guildIcon-CT-ZDq, .theme-dark .homeIcon-1FoKUJ {
	background-color: var(--secondary-color);
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
	border-radius: 0 !important;
}
.theme-dark .guildsAdd-21_IdK {
	color: white;
	border-radius: 0;
	background: var(--secondary-color-transparent);
}
.theme-dark .guildsWrapper-5TJh6A {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
}
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
    color: white;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 a {
	background-color: var(--accent-color-transparent);
}
.theme-dark .guildSeparator-1X4GQ1:after {
	width: 50px;
	left: -0.5px;
	background-color: var(--secondary-color);
}
.theme-dark .guild-1EfMGQ.audio-3vVhBi .guildInner-3DSoA4:after, .theme-dark .guild-1EfMGQ.video-15yGu3 .guildInner-3DSoA4:after {
	background-color: var(--accent-color);
}

/*Server Name, Channel List*/
.name-3YKhmS {
	text-align: center;
}
.popout-open .header-2o-2hj {
	background-color: var(--main-color);
}
.theme-dark .menu-Sp6bN1 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .item-1GzJrl:hover {
	background-color: var(--secondary-color-transparent);
        border-radius: 0;
}
.theme-dark .item-1GzJrl {
	background-color: var(--main-color);
}
.header-2o-2hj {
	background-color: var(--main-color);
	border-bottom: solid 1px var(--secondary-color);
	border-top: solid 1px var(--secondary-color);
	height: 38px;
}
.header-2o-2hj:hover {
	background-color: var(--main-color-transparent);
}
.vertical-V37hAW{
	border-radius: 0;
}
.scroller-2v3d_F {
	margin-right: 0px;
	background-color: var(--main-color);
	border-right: solid 1.5px var(--secondary-color);
}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
	color: white;
	text-align: center;
	background-color: var(--secondary-color);
	border: solid 1.5px var(--accent-color);
}
.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB {
	color: white;
	text-align: center;
	background-color: var(--accent-color);
	border: solid 1.5px var(--secondary-color);
}
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
	top: -10px;
}
.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN, .colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
	color: var(--accent-color); 
}
.contentConnectedText-16O0fe, .contentConnectedVoice-qL-YrL, .contentDefaultText-3vZplL, .contentDefaultVoice-2ko43i, .contentLockedText-1aHuz8, .contentLockedVoice-1gx-SP, .contentMutedText-2y6aPQ, .contentMutedVoice-2lJ0UD, .contentUnreadText-2vNnZc, .contentUnreadVoice-1dijOt{	
        background-color: var(--secondary-color-transparent);
	border-radius: 0;
	margin-right: 4px;
}
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO, .contentConnectedVoice-qL-YrL:active, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
	margin-right: 4px;
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM  {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
	margin-right: 4px;
}
.unread-1Dp-OI {
	border-radius: 0;
	background-color: var(--secondary-color);
}
.unreadBar-17qm9c {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.unreadBar-17qm9c:hover {
	background-color: var(--accent-color-transparent);
}
.wrapper-2NJDcI {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.container-1UB9sr {
        background-color: var(--secondary-color);
        border-bottom: 0;
        border-right: solid 1px var(--secondary-color);
}
.button-2KyEfG:hover {
	background-color: var(--accent-color-transparent);
}
.avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px var(--accent-color);
}

/*User Tab Under Channel List*/
.container-2Thooq {
	height: 86px;
	background-color: var(--main-color);
	margin: 0;
	border-top: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
}

/*Chat*/
.theme-dark .chat-3bRxxu form{
	background-color: var(--main-color);
	margin: 0;
	top: 9px;
}
.theme-dark .inner-zqa7da {
	left: 10px;
	margin-right: 20px;
	border-radius: 0;
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
}
.theme-dark .channelTextArea-rNsIhG {
	border-top: solid 1px var(--secondary-color);
}
.theme-dark .typing-2GQL18 {
	background-color: var(--main-color);
	bottom: 4px;
	left: 10px;
}
.theme-dark .messagesWrapper-3lZDfY {
	background-color: var(--main-color);
}
.theme-dark .dividerEnabled-2TTlcf{
	background-color: var(--secondary-color-transparent);
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr>span {
	background-color: transparent;
	color: var(--accent-color);
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr>div {
        background-color: var(--accent-color);
}
.theme-dark .divider-3gKybi:before {
	display: none;
}
.flex-spacer {
	background-color: var(--main-color);
}
.theme-dark .embedPill-1Zntps {
	background-color: var(--secondary-color) !important;
	border-radius: 0;
}
.theme-dark .embedInner-1-fpTo {
	border-radius: 0;
}
.theme-dark .divider-3gKybi:not(.red-1YQ4s7) span {
	background-color: var(--secondary-color);
	border: solid 1px var(--accent-color);
	border-radius: 0;
	color: white;
}
.theme-dark .divider-3gKybi:not(.red-1YQ4s7) div {
	background-color: var(--accent-color);
}
.theme-dark .title-3qD0b- {
	background-color: var(--main-color);
	height: 36px;
	border-bottom: solid 1px var(--secondary-color);
	border-top: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
}
.theme-dark .hasMore-3e72_v button {
	background-color: var(--main-color);
	color: var(--accent-color);
	border-radius: 0;
	border-color: var(--secondary-color);
}
.newMessagesBar-mujexs, .newMessagesBar-mujexs:hover {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.theme-dark .jumpToPresentBar-9P20AM button, .theme-dark .jumpToPresentBar-9P20AM button:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0px;
}
.theme-dark .markup-2BOw-j pre{
	background-color: var(--main-color);
	border-radius: 0;
	border: solid 1px var(--secondary-color);
}
 .theme-dark .markup-2BOw-j code  {
	background-color: var(--main-color);
}
.theme-dark .markup-2BOw-j code.inline {
	border-radius: 0;
	background-color: var(--accent-color-transparent);
}
.theme-dark .attachment-33OFj0 {
	background-color: var(--main-color-transparent);
	border-color: var(--secondary-color);
	border-radius: 0;
}

/*User List*/
.theme-dark .members-1998pB {
	background-color: var(--main-color);
	border-left: solid 1px var(--secondary-color); 
}
.theme-dark .membersGroup-v9BXpm  {
	text-align: center;
	color: white;
	font-size: 13px;
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--secondary-color);
	margin-left: 5px;
	padding-top: 10px;
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .member-3W1lQa {
	border-radius: 0;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.operations-36ENbA>a {
	color: var(--accent-color);
}

/*Friends Tab, DM list*/
.scroller-2FKFPG {
	background-color: var(--main-color);
	border-right: solid 1px var(--secondary-color);
}
.private-channels header {
	color: white; 
	text-align: center;
	border-top: solid 2px var(--accent-color);
	border-bottom: solid 2px var(--accent-color);
}
.private-channels .channel.selected a {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.private-channels .channel:hover a {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.private-channels .search-bar {
	height: 37px;
	background-color: var(--main-color);
	border-right: solid 1px var(--secondary-color);
}
.searchBarInner-1_Tg2R, .searchBarTag-2xRzm8 {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
}
.theme-dark #friends .friends-table .friends-row+.friends-row {
	border-top-color: var(--secondary-color);
}
.theme-dark #friends .friends-table .friends-row:hover {
	background-color: var(--secondary-color-transparent);
}
.theme-dark #friends .friends-table .friends-table-header {
	background-color: var(--main-color);
	border-color: var(--secondary-color);
}
.theme-dark #friends .friends-table .friends-table-header .friends-column {
	color: white;
	text-align: center;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
	background-color: var(--secondary-color);
}
.theme-dark .headerBar-UHpsPw {
	background-color: var(--main-color);
	height: 37px;
	border-bottom: solid 1px var(--secondary-color)
}
.theme-dark #friends {
	background-color: var(--main-color);
}
.theme-dark #friends .tab-bar .tab-bar-separator {
	background-color: var(--secondary-color);
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
	background-color: var(--accent-color);
	border-radius: 0;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
	background-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
	color: white;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
	background-color: var(--accent-color)
}
.search-bar .search-bar-inner {
	background-color: var(--secondary-color);
	border: solid 1px var(--accent-color);
	border-radius:0;
}
.theme-dark .friendSelected--wQP3f {
	background-color: var(--secondary-color-transparent);
}
.private-channels .search-bar {
	border-top: solid 1px var(--secondary-color);
}
.wrapper-29NfPK.minimum-2d6zH6 .info-2fyCMj, .wrapper-29NfPK.normal-2GSW0u .info-2fyCMj {
	background-color: var(--main-color);
	border-top: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
}
.videoBottom-2_HYXG, .videoCenter-1nmPrS, .videoTop-eOkSPq {
	background-color: var(--main-color);
	border-right: solid 1px var(--secondary-color);
}
.videoBottom-2_HYXG {
	border-bottom: solid 1px var(--secondary-color);
}
.theme-dark .isLocalBot-38G0P0 {
	background-image: none;
	box-shadow: none;
}
.anchor-3Z-8Bb {
	color: var(--accent-color);
}

/*Settings*/
.side-8zPYf6 .itemSelected-1qLhcL, #bd-settings-sidebar .ui-tab-bar-item.selected {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0px;
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover, #bd-settings-sidebar .ui-tab-bar-item:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.header-1R_AjF {
	background-color: var(--main-color);
        border-bottom: solid 1px var(--secondary-color)
}
.theme-dark .footer-2yfCgX {
	background-color: var(--main-color);
        border-top: solid 1px var(--secondary-color);
}
.theme-dark .cardPrimaryEditable-3KtE4g {
	border-color: var(--secondary-color);
	border-radius: 0;
        background-color: var(--main-color);
}
.theme-dark .input-cIJ7To.focused-1mmYsC {
	border-color: var(--secondary-color);
}
.theme-dark .questionMark-CWEQZn {
	background-color: var(--accent-color);
	border-radius: 0;
}
.theme-dark .questionMark-CWEQZn:hover {
	background-color: var(--secondary-color);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: var(--accent-color);
	border-radius: 0;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	background-color: var(--secondary-color);
}
.ui-standard-sidebar-view #editor-detached button {
        background-color: var(--secondary-color);
        border-radius: 0;
}
.barFill-23-gu-{
	background-color: var(--secondary-color);
}
.theme-dark .cardPrimary-1Hv-to {
	background-color: var(--main-color);
	border-color: var(--secondary-color);
	border-radius: 0;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked, .themeDefault-24hCdX.valueChecked-m-4IJZ {
	background-color: var(--secondary-color);
}
[class="item-26Dhrx marginBottom8-AtZOdT horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG cardPrimaryEditable-3KtE4g card-3Qj_Yx da-item da-horizontal da-flex da-directionRow da-cardPrimaryEditable da-card"] {
	background-color: var(--main-color) !important;
	border-color: var(--secondary-color) !important;
}
.theme-dark .checked-3_4uQ9 {
	background-color: var(--accent-color-transparent) !important;
	border: solid 1px var(--secondary-color) !important;
	border-radius: 0;
}
.theme-dark .checkbox-1ix_J3 {
	border-radius: 0;
	border-color: var(--secondary-color);
}
#bd-settingspane-container .bd-pfbtn {
	background-color: var(--secondary-color);
	border-radius: 0;
}
.search-bar .search-bar-inner {
	background-color: var(--secondary-color);
	border: solid 1px var(--accent-color);
	border-radius:0;
}
.theme-dark .friendSelected--wQP3f {
	background-color: var(--secondary-color-transparent);
}
.vertical-V37hAW {
	background-color: var(--main-color);
	border-bottom: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
}
.wrapper-29NfPK.minimum-2d6zH6 .info-2fyCMj, .wrapper-29NfPK.normal-2GSW0u .info-2fyCMj {
	border-top: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
}
	

/*Checkmarks*/
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
	background-color: var(--secondary-color);
	border: 1px solid var(--accent-color);
	border-radius: 0;
}
.theme-dark .checkbox .checkbox-inner span {
	border-radius: 0;
	border-color: var(--secondary-color-transparent);
	border-width: 1px;
}
.theme-dark .ui-standard-sidebar-view .btn-close:hover {
	background-color: var(--secondary-color);
}

/*User Popout*/
.userPopout-3XzG_A {
	border-radius: 0px;
	border: solid 1px var(--secondary-color);
}
.header-QKLPzZ {
	border-radius: 0;
}
.headerTop-3C2Zn0 {
	background-color: var(--main-color);
	border-bottom: solid 1px var(--secondary-color);
}
.activity-11LB_k {
	background-color: var(--secondary-color);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: var(--main-color);
}
.bodyTitle-Y0qMQz {
	color: white;
}
.theme-dark .quickMessage-1yeL4E {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.theme-dark .topSectionNormal-2-vo2m {
	background-color: var(--main-color);
}
.tabBarContainer-1s1u-z {
	border-color: var(--secondary-color);
}
.topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P {
	background-color: var(--secondary-color);
}

.theme-dark .ui-standard-sidebar-view .content-region {
	background-color: var(--main-color);
}
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
	border-radius: 0;
	border-color: var(--secondary-color);
}
.lookInverted-2D7oAl.colorGreen-29iAKY, .lookInverted-2D7oAl.colorBrand-3pXr91 {
	background-color: var(--secondary-color);
	border: solid 1px var(--accent-color);
	border-radius:0;
}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover, .lookInverted-2D7oAl.colorBrand-3pXr91:hover {
	background-color: var(--accent-color);
	border: solid 1px var(--secondary-color);
}
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
	background-color: var(--secondary-color);
        border: 1px solid var(--accent-color);
	border-radius: 0;
}

/*File sending*/
.uploadModal-2ifh8j, .uploadModal-2ifh8j .footer-3mqk7D {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.uploadModal-2ifh8j .inner-3nWsbo, .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
	border-color: var(--secondary-color);
	border-radius: 0;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover{
	background-color: var(--secondary-color);
	border: solid 1px var(--secondary-color);
	border-radius:0;
	color: white;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
	background-color: var(--accent-color);
	border-radius: 0;
	color: white;
	margin-left: 30px;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
	background-color: var(--accent-color);
	border-radius: 0;
	border: solid 1px var(--secondary-color);
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
	background-color: var(--accent-color);
	border-radius: 0;
	border: solid 1px var(--secondary-color-color);
	text-decoration: none;
}

/*Kick/Ban Popout*/
.Select .Select-menu {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.Select--single>.Select-control .Select-value, .Select-placeholder {
	border: 1px solid var(--secondary-color);
	border-radius: 0;
}
.theme-dark .select-2TCrqx .Select-option.is-focused, .theme-dark .select-2TCrqx .Select-option:hover{
	background-color: var(--secondary-color-transparent);
}
.theme-dark .ui-standard-sidebar-view, .theme-dark .modal-3HD5ck {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.theme-dark .input-cIJ7To, .theme-dark .input-cIJ7To:hover, .theme-dark .input-cIJ7To:focus {
	background-color: var(--secondary-color-transparent);
	border-color: var(--accent-color);
	border-radius: 0;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
	background-color: var(--secondary-color);
        border-radius: 0;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
	background-color: var(--accent-color);
}

/*Auto Complete*/
.autocompleteRowVertical-q1K4ky {
	background-color: var(--main-color);
}
.theme-dark .selectorSelected-1_M1WV {
	background-color: var(--secondary-color-transparent);
        border: solid 1px var(--accent-color);
        border-radius: 0;
}
.theme-dark .autocomplete-1vrmpx {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}	
.autocompleteInner-zh20B_ {
	padding: 0;
}

/*Quick Switcher*/
.theme-dark .quickswitcher-3JagVE {
	background-color: var(--main-color);
	height: 365px;
	border-radius: 0;
}
.theme-dark .input-2VB9rf {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.theme-dark .contentDefault-16dKSY:hover, .theme-dark .resultFocused-3aIoYe{
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .contentDefault-16dKSY {
	border-radius: 0;
}

/*Emoji List*/
#bda-qem-twitch-container .scroller-wrap, #bda-qem-favourite-container .scroller-wrap {
        background-color: var(--main-color);
}
.emoji-picker, .emojiPicker-3m1S-j, .emojiPicker-3m1S-j .header-1nkwgG .search-bar, .emojiPicker-3m1S-j .category-2U57w6 {
        background-color: var(--main-color);
}
#bda-qem button {
        background-color: var(--secondary-color);
        border-radius: 0;
        border-color: var(--secondary-color);
        color: white;
        box-shadow: var(--secondary-color) 1px 0 0 0;
}
#bda-qem button:hover {
        background-color: var(--accent-color-transparent);
}
#bda-qem button.active {
        background-color: var(--accent-color);
}
#bda-qem {
        background: var(--secondary-color);
        border-color: var(--secondary-color);
        padding-right: 0 !important;
}
.search-bar.search-bar-light .search-bar-inner {
        background-color: var(--secondary-color-transparent);
        border: solid 1px var(--accent-color);
        border-radius: 0 !important;
}
.popoutTop-3uu9vG.noArrow-3BYQ0Z, .popoutTopRight-3BzFIE.noArrow-3BYQ0Z {
        border: solid 1px var(--secondary-color);
        border-radius: 0;
        background-color: var(--main-color);
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
        background-color: var(--secondary-color);
        border-radius: 0;
}

/*Search Function*/
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
	background-color: var(--accent-color-transparent);
}
.theme-dark .search-l1Wz-Q {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.theme-dark .search-results-wrap .search-header {
	background-color: var(--main-color);
	border-left: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
	border-radius:0;
}
.search-results-wrap .results-wrapper {
	border-left: solid 1px var(--secondary-color);
}
.theme-dark .search-results-wrap .channel-separator .channel-name{
	background-color: var(--secondary-color-transparent);
	padding-left: 10px;	
}
.theme-dark .search-results-wrap .channel-separator:before {
	display: none;
}
.theme-dark .search-results-wrap .search-result .hit {
	background-color: var(--main-color);
	border: 1px solid var(--secondary-color);
	border-radius: 0;
}
.theme-dark .search-results-wrap .search-result:after, .theme-dark .search-results-wrap .search-result:before {
    display: none;
}
.theme-dark .search-results-wrap .search-result .hit {
	box-shadow: none;
}

/*Other Popouts*/
.theme-dark .searchPopout-1vUlP3 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.themedPopout-25DgLi .header-SsaQ8X {
	background-color: var(--main-color);
}
.themedPopout-25DgLi .header-SsaQ8X .title-23FrqZ {
	color: white;
	text-align: center;
}
.clickOverride-1J40_l {
	border-radius: 0;
	border: solid 1px var(--secondary-color);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	background-color: var(--accent-color);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark.contextMenu-HLZMGh {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.theme-dark .item-1Yvehc:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .body-SKIE6r {
	background-color: var(--secondary-color);
}
.theme-dark .header-1RC2Wb{
	background-color: var(--main-color);
}
.theme-dark .card-7JP0BX {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
	background-color: var(--main-color);
        border: solid 1px var(--secondary-color);
	border-radius:0;
}
.theme-dark .searchBar-1MOL6S {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.bd-modal-wrapper .bd-modal-body, .bd-modal-wrapper .header {
	background-color: var(--main-color);
}
.bd-modal-wrapper .bd-modal-inner {
	border-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark .footer-1kmXd4 {
	background-color: var(--main-color);
        border-top: solid 1px var(--secondary-color);
}
.theme-dark .ui-standard-sidebar-view, .theme-dark .modal-3HD5ck {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.theme-dark .container-3cGP6G {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.create-guild-container.deprecated .form.deprecated .form-inner, .create-guild-container.deprecated .action  {
	background-color: var(--main-color);
        border: solid 1px var(--secondary-color);
}
.root-SR8cQa {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.bda-slist li {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .reactionSelected-1pqISm {
	background-color: var(--secondary-color-transparent);
        border-radius: 0;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
	background-color: var(--main-color);
	box-shadow: none;
}
.theme-dark .jumpButton-3DTcS_ {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.messageGroupWrapperOffsetCorrection-phOU-k {
	background-color: var(--main-color);
	margin-right: -10px;
}
.resultsGroup-r_nuzN {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .resultsGroup-r_nuzN:before {
	border-top: solid 0px var(--secondary-color);
}
.theme-dark .option-96V44q.selected-rZcOL- {
	background-color: var(--secondary-color-transparent);
}
.bd-modal-wrapper .footer button:hover {
	background-color: var(--secondary-color);
}
.bd-modal-wrapper .footer button{
	background-color: var(--accent-color);
	border-radius: 0;
}
.theme-dark .message-2qRu38 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .noChannel-Z1DQK7 {
	background-color: var(--main-color);
}
