
@import url('https://anti-betterdocs.github.io/BlockBetterDocs/BetterDocsBlockerVars.css');
/*Scrollbars*/
::-webkit-scrollbar {
	width: 5px !important;
}
::-webkit-scrollbar-track-piece{
        background-color: transparent !important;
        border: 0 !important;	
}
::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color) !important;
        border-radius: 0 !important;
        border: solid 1px var(--secondary-color-transparent) !important;
}

/*Mention notifications*/
.wrapper-232cHJ {
	background-color: var(--accent-color);
	border-radius: 0;
	border: solid 1px var(--secondary-color);
}

/*Highlights*/
*::selection {
	background: var(--accent-color);
}

/*Tooltip*/
.tooltip-1OS-Ti.black-2bmmnj {
	border: solid 1px var(--secondary-color);
	background-color: var(--main-color);
	border-radius: 0;
}
.tooltip-1OS-Ti:after {
	display: none;
}

/*Hide blocked messages*/
.theme-dark .messageGroupBlocked-3wrQQX {
        display: none;
}

/*Getting Mentioned*/
.isMentionedCozy-3isp7y:after {
	background-color: var(--accent-color);
	border-left-color: var(--secondary-color);
        border-radius: 0;
}
.theme-dark .isMentioned-N-h9aa {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.theme-dark .isMentioned-N-h9aa .mention:hover {
	color: var(--accent-color);
}

/*TitleBar*/
.directionRowReverse-m8IjIq {
	background-color: var(--main-color);
	margin: 0;
}
.wordmark-2iDDfm {
	color: white;
}

/*MemberCount plugin*/
.theme-dark #memberCount{
	background-color: var(--main-color) !important;
	color: white !important;
	font-size: 14px;
	border: solid 1px var(--secondary-color);
	border-top: 0;
	border-right: 0;
}

/*Replyer Plugin*/
.theme-dark .reply-list {
        background-color: var(--main-color);
        border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.theme-dark .reply-item {
        background-color: var(--accent-color-transparent);
        border-radius: 0;
}

/*Direct Download plugin*/
#files_directDownload .file .progress-bar {
        background-color: var(--secondary-color);
        height: 3px;
}
#files_directDownload .file {
        border-radius: 0 !important;
}

/*Unread / Active Servers*/
.theme-dark .unread-2OHH1w:before {
	border-radius: 1px;
	background-color: var(--secondary-color);
}
.theme-dark .selected-nT-gM3:before {
	background-color: var(--secondary-color);
	border-radius: 1px;
}

/*Server List*/
.theme-dark .guildIcon-VlWW86, .theme-dark .wrapper-2lTRaf, .homeIcon-tEMBK1 {
	background-color: var(--secondary-color);
}
.homeIcon-tEMBK1, .theme-dark .guildIcon-VlWW86, .theme-dark .wrapper-2lTRaf a, .theme-dark .wrapper-2lTRaf, .dragfix-1wSxtO:active, .theme-dark .guildsError-b7zR5H {
	border-radius: 0 !important;
}
.theme-dark .circleIconButton-jET_ig {
	background-color: var(--secondary-color-transparent);
	border-color: rgba(246,246,247,0.5);
	border-radius: 0;
}
.theme-dark .wrapper-1Rf91z {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
}
.theme-dark .friendsOnline-2JkivW, .theme-light .friendsOnline-2JkivW {
        color: white;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 a {
	background-color: var(--accent-color-transparent);
}
.theme-dark .guildSeparator-3s64Iy:after {
	width: 50px;
	left: -0.5px;
	background-color: var(--secondary-color);
}
.theme-dark .guildsError-3cFMtY {
	border-radius: 0;
}
.guildsWrapper-5TJh6A.foldercontainer.foldercontainerclosed, .guildsWrapper-5TJh6A.foldercontent.foldercontentclosed {
	display: none !important;
}
.theme-dark .audio-2KA0-x:after, .theme-dark .video-2jNDI4:after {
	background-color: var(--accent-color);
}

/*Server Name, Channel List*/
.name-3YKhmS {
	text-align: center;
}
.container-PNkimc {
	background-color: var(--main-color);
}
.popout-open .header-2o-2hj {
	background-color: var(--main-color);
}
.theme-dark .item-1GzJrl.invite-271nFU, .theme-dark .item-1GzJrl.invite-271nFU:hover {
	color: var(--accent-color);
}
.theme-dark .menu-Sp6bN1 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {
        background: transparent;
        padding-top: 20px;
        border-right: solid 1px var(--secondary-color);
        border-bottom: solid 1px var(--secondary-color);
}
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P {
        color: white;
}
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
        background-color: var(--secondary-color);
        border-radius: 0;
        border-color: var(--accent-color-transparent);
}
.theme-dark .separator-2zcjq8 {
	border-bottom-color: var(--secondary-color-transparent);
}
.theme-dark .item-1GzJrl:hover {
	background-color: var(--secondary-color-transparent);
        border-radius: 0;
}
.theme-dark .item-1GzJrl {
	background-color: var(--main-color);
}
.header-2o-2hj {
	background-color: var(--main-color);
	border-bottom: solid 1px var(--secondary-color);
	border-top: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
	height: 36px;
}
.header-2o-2hj:hover {
	background-color: var(--main-color-transparent);
}
.vertical-V37hAW{
	border-radius: 0;
}
.scroller-2v3d_F {
	margin-right: 0px;
	background-color: var(--main-color);
}
.channels-Ie2l6A .scroller-2FKFPG {
        border-right: solid 1px var(--secondary-color);
} 
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
	color: white;
	text-align: center;
	background-color: var(--secondary-color);
	border: solid 1.5px var(--accent-color);
}
.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB {
	color: white;
	text-align: center;
	background-color: var(--accent-color);
	border: solid 1.5px var(--secondary-color);
}
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
	top: -10px;
}
.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN, .colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
	color: var(--accent-color); 
}
.contentConnectedText-16O0fe, .contentConnectedVoice-qL-YrL, .contentDefaultText-3vZplL, .contentDefaultVoice-2ko43i, .contentLockedText-1aHuz8, .contentLockedVoice-1gx-SP, .contentMutedText-2y6aPQ, .contentMutedVoice-2lJ0UD, .contentUnreadText-2vNnZc, .contentUnreadVoice-1dijOt{	
        background-color: var(--secondary-color-transparent);
	border-radius: 0;
	margin-right: 4px;
}
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO, .contentConnectedVoice-qL-YrL:active, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
	margin-right: 4px;
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM  {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
	margin-right: 4px;
}
.unread-1Dp-OI {
	border-radius: 0;
	background-color: var(--secondary-color);
}
.unreadBar-3YD_k9 {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.unreadBar-3YD_k9:hover {
	background-color: var(--accent-color-transparent);
}
.wrapper-2NJDcI {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.container-1UB9sr {
        background-color: var(--secondary-color);
        border-bottom: 0;
        border-right: solid 1px var(--secondary-color);
}
.button-2KyEfG {
	border-radius: 0;
}
.button-2KyEfG:hover {
	background-color: var(--accent-color-transparent);
}
.avatarSpeaking-1wJCNq {
        box-shadow: 0 0 0 2px var(--accent-color);
}
.theme-dark .listeningAlong-2UPsxf {
        background-color: var(--secondary-color);
        margin: 0;
        border-bottom: solid 3px var(--main-color);
}

/*User Tab Under Channel List*/
.theme-dark .container-2Thooq {
	height: 85px;
	background-color: var(--main-color);
	margin: 0;
	border-top: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
}
.theme-dark .button-2b6hmh:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.container-2Thooq .avatar-3JE4B3 {
        border-radius: 0;
}
.theme-dark .status-oxiHuE {
        border: solid 1px var(--accent-color) !important;
}

/*Chat*/
.theme-dark .chat-3bRxxu form{
	background-color: var(--main-color);
	margin: 0;
	top: 9px;
}
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
	background-color: var(--main-color);
}
.theme-dark .inner-zqa7da {
	left: 10px;
	margin-right: 20px;
	border-radius: 0;
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color) !important;
}
.theme-dark .channelTextArea-rNsIhG {
	border-top: solid 1px var(--secondary-color);
	top: 2px;
}
.theme-dark .textArea-2Spzkt::-webkit-scrollbar {
	display: none;
}
.theme-dark .typing-2GQL18 {
	background-color: var(--main-color);
	left: 10px;
}
.theme-dark .header-1TOWci {
	background-color: var(--main-color);
        box-shadow: 0 1px 0 0 var(--secondary-color), 0 1px 0 0 var(--secondary-color);
}
.categoryFade-2ybR1J, .categoryFadeBlurple-1j72_A, .gif-1TcNIB {
	border-radius: 0;
}
.theme-dark .focused-1En8bG:after, .theme-dark .result-3w1ZcL:hover:after {
	box-shadow: none !important;
	border: solid 4px var(--accent-color);
	border-radius: 0;
}
.theme-dark .categoryFadeBlurple-1j72_A {
	background-color: var(--accent-color-transparent);
}
.theme-dark .categoryFadeBlurple-1j72_A:hover {
    background-color: var(--secondary-color-transparent);
}
.theme-dark .messagesWrapper-3lZDfY {
	background-color: var(--main-color);
}
.theme-dark .dividerEnabled-2TTlcf{
	background-color: var(--secondary-color-transparent);
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr>span {
	background-color: transparent;
	color: var(--accent-color);
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
        border-radius: 0;
        border-color: var(--accent-color-transparent);
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover {
        border-color: var(--accent-color); 
}
.theme-dark .wrapper-35wsBm {
        border-radius: 0;
        border-color: var(--secondary-color);
        background-color: var(--main-color);
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
	color: var(--accent-color);
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
	border-color: transparent;
}
.theme-dark .divider-3gKybi:not(.red-1YQ4s7) span {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
}
.flex-spacer {
	background-color: var(--main-color);
}
.theme-dark .embedPill-1Zntps {
	background-color: var(--secondary-color) !important;
	border-radius: 0;
}
.theme-dark .embedInner-1-fpTo {
	border-radius: 0;
}
.theme-dark .title-3qD0b-, .theme-dark .titleCall-_b9o8P {
	background-color: var(--main-color);
	height: 36px;
	border-bottom: solid 1px var(--secondary-color);
	border-top: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
}
.theme-dark .hasMore-3e72_v button {
	background-color: var(--main-color);
	color: var(--accent-color);
	border-radius: 0;
	border-color: var(--secondary-color);
}
.newMessagesBar-mujexs, .newMessagesBar-mujexs:hover {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.theme-dark .jumpToPresentBar-9P20AM, .theme-dark .jumpToPresentBar-9P20AM:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0px;
}
.jumpToPresentBar-9P20AM .spinner {
	background-color: transparent;
}
.theme-dark .markup-2BOw-j pre{
	background-color: var(--main-color);
	border-radius: 0;
	border: solid 1px var(--secondary-color);
}
 .theme-dark .markup-2BOw-j code  {
	background-color: var(--main-color);
}
.theme-dark .markup-2BOw-j code.inline {
	border-radius: 0;
	background-color: var(--accent-color-transparent) !important;
}
.theme-dark .attachment-33OFj0 {
	background-color: var(--main-color-transparent);
	border-color: var(--secondary-color);
	border-radius: 0;
}
.spinner-wandering-cubes .spinner-item {
	background-color: var(--accent-color);
}
.botTagRegular-2HEhHi, .headerBotTag-35luy- {
	background-color: var(--secondary-color);
	border-radius: 0;
	color: white;
}
.theme-dark .reaction-1ELvT8 {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
	background-color: var(--accent-color-transparent);
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
	color: var(--accent-color);
}
.theme-dark .divider-23swzi {
	background-color: var(--secondary-color-transparent);
}
.theme-dark .wrapperAudio-1jDe0Q {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}

/*User List*/
.theme-dark .members-1998pB {
	background-color: var(--main-color);
	border-left: solid 1px var(--secondary-color); 
}
.theme-dark .membersGroup-v9BXpm  {
	text-align: center;
	color: white;
	font-size: 13px;
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--secondary-color);
	margin-left: 5px;
	padding-top: 10px;
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4, .userHovered-2_fT4Z:active {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .member-3W1lQa {
	border-radius: 0;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.operations-36ENbA>a {
	color: var(--accent-color);
}
.theme-dark .wrapper-3WhCwL {
	background-color: var(--accent-color-transparent);
	color: var(--accent-color);
}
.theme-dark .wrapper-3WhCwL:hover {
	color: white;
	background-color: var(--accent-color);
}
.theme-dark .markup-2BOw-j a, .theme-dark .topic-2QX7LI a, .content-8biNdB a{
	color: var(--accent-color);
}

/*Friends Tab, DM list*/
.scrollerWrap-2lJEkd {
	background-color: var(--main-color);
}
.privateChannels-1nO12o header {
	margin-left: 8px;
	background-color: var(--accent-color);
	text-align: center;
	color: white;
        border: solid 2px var(--secondary-color);
}
.theme-dark .channel-2QD9_O.selected-1HYmZZ a {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .channel-2QD9_O:hover a {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.privateChannels-1nO12o .channel-2fhmY8:hover .selectedLink-3dsNZ6 {
	background-color: var(--accent-color-transparent);
}
.theme-dark .searchBar-6Kv8R2 {
	height: 34px;
	background-color: var(--main-color);
	border-top: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
}
.searchBar-2_Yu-C .searchBarInner-1_Tg2R {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.searchBarTag-2xRzm8 {
	background-color: var(--accent-color);
	border-radius: 0;
	color: white;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud{
	border-top-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
	background-color: var(--secondary-color-transparent);
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {
	background-color: var(--main-color);
	border-color: var(--secondary-color);
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {
	color: white;
	text-align: center;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
	background-color: var(--secondary-color);
}
.theme-dark .headerBar-UHpsPw {
	background-color: var(--main-color);
	height: 36px;
	border-bottom: solid 1px var(--secondary-color);
	border-top: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
}
.theme-dark .container-3gCOGc {
	background-color: var(--main-color);
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track {
        background-color: var(--main-color);
}
.tabBar-1E2ExX .primary-3j8BhM {
	background-color: var(--accent-color) !important;
	border-radius: 0 !important;
}
.tabBar-1E2ExX .primary-3j8BhM:hover {
	background-color: var(--secondary-color) !important;
	border-radius: 0 !important;
}
.tabBar-1E2ExX .primarySelected-3uHKZn {
	background-color: var(--secondary-color) !important;
	color: white !important;
}
.theme-dark .divider-2PMBlV {
	background-color: var(--secondary-color-transparent);
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover {
	background-color: var(--accent-color)
}
.theme-dark .friendSelected--wQP3f {
	background-color: var(--secondary-color-transparent);
}
.wrapper-29NfPK.minimum-2d6zH6 .info-2fyCMj, .wrapper-29NfPK.normal-2GSW0u .info-2fyCMj {
	background-color: var(--main-color);
}
.videoBottom-2_HYXG, .videoCenter-1nmPrS, .videoTop-eOkSPq {
	background-color: var(--main-color);
	border-right: solid 1px var(--secondary-color);
}
.videoBottom-2_HYXG {
	border-bottom: solid 1px var(--secondary-color);
}
.theme-dark .isLocalBot-38G0P0 {
	background-image: none;
	box-shadow: none;
}
.anchor-3Z-8Bb {
	color: var(--accent-color);
}
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr, .theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
	background: var(--main-color) !important;
	border-bottom-color: var(--secondary-color);
}
.theme-dark .wrapper-1cBijl {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
	background-color: var(--secondary-color);
}
.theme-dark .inner-2Y6JuD {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .inner-2Y6JuD:hover {
	background-color: var(--secondary-color-transparent);
}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-suggestions-header {
	border-bottom-color: var(--secondary-color);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
	background-color: var(--secondary-color);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
	background-color: var(--accent-color);
	border: solid 1px var(--accent-color);
}
.aka-1mqp34 {
	background-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
        border-top-color: var(--secondary-color-transparent);
}	
.theme-dark .header-39GIC8 {
	border-bottom-color: var(--secondary-color);
	background-color: var(--main-color);
}
.theme-dark .rowWrapperActive-2L7i9f {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .headerCell-3L6rFG {
	border-color: var(--secondary-color-transparent);
}

/*Settings and games tab*/
.theme-dark .colorPickerCustom-2CWBn2 {
	background-color: var(--main-color);
	border-color: var(--secondary-color);
}
.theme-dark .codeRedemptionRedirect-1wVR4b {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
	background-color: var(--main-color);
}
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
	background-color: var(--secondary-color-transparent);
}
.connection-1fbD7X, .connectionDelete-2Odoln {
	border-radius: 0;
}
.theme-dark .sidebarRegion-VFTUkN, .sidebarRegionScroller-3MXcoP {
	flex: 0.72;
}
.theme-dark .sidebar-CFHs9e {
	padding: 10px 10px 0px 10px;
}
.contentColumnDefault-1VQkGM {
	max-width: none;
	padding: 0;
	padding-left: 10px;
}
.contentRegionScroller-26nc1e .tools-3-3s-N {
	top: 20px;
	right: 10px;
}
.theme-dark .side-8zPYf6 .item-PXvHYJ, .theme-dark #bd-settings-sidebar .ui-tab-bar-item {
        padding: 3px 10px 3px 10px;
}
.side-8zPYf6 .itemSelected-1qLhcL, .theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected, #pubslayer .ui-tab-bar-item.selected {
	background-color: var(--secondary-color-transparent) !important;
	border: solid 1px var(--accent-color);
	border-radius: 0px;
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover, .theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover, #pubslayer .ui-tab-bar-item:hover {
	background-color: var(--secondary-color-transparent) !important;
	border-radius: 0;
}
#pubslayer button {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
#pubslayer button:hover {
        background-color: var(--secondary-color);
}
#pubslayer button[style*="background-color: rgb(58, 193, 92);"] {
        background-color: var(--accent-color) !important;
}
.bd-server-card.bd-server-card-pinned:after {
	background-color: var(--secondary-color);
}
.side-8zPYf6 .itemSelected-1qLhcL[style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
	background-color: var(--secondary-color-transparent) !important;
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
	background-color: var(--secondary-color-transparent) !important;
}
.header-1R_AjF {
	background-color: var(--main-color);
}
.theme-dark .footer-2yfCgX {
	background-color: var(--main-color);
	border-top: solid 1px var(--secondary-color);
}
.theme-dark .cardPrimaryEditable-3KtE4g {
	border-color: var(--secondary-color);
	border-radius: 0;
        background-color: var(--main-color);
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
	border-radius: 0;
}
.theme-dark .input-cIJ7To.focused-1mmYsC {
	border-color: var(--secondary-color);
}
.theme-dark .questionMark-CWEQZn {
	background-color: var(--accent-color);
	border-radius: 0;
}
.theme-dark .questionMark-CWEQZn:hover {
	background-color: var(--secondary-color);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: var(--accent-color) !important;
	border-radius: 0;
}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
	background-color: var(--secondary-color);
}
.ui-standard-sidebar-view #editor-detached button {
        background-color: var(--secondary-color);
        border-radius: 0;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	border-radius: 0;
}
.barFill-23-gu-{
	background-color: var(--secondary-color);
}
.theme-dark .cardPrimary-1Hv-to {
	background-color: var(--main-color);
	border-color: var(--secondary-color);
	border-radius: 0;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked, .themeDefault-24hCdX.valueChecked-m-4IJZ {
	background-color: var(--secondary-color) !important;
}
.itemToggle-S7XGOQ .checkbox-3EVISJ {
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
        border-color: var(--secondary-color) !important;
        border-radius: 0;
        background-color: var(--main-color) !important;
}
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span, .theme-dark .checked-3_4uQ9 {
	background-color: var(--accent-color-transparent) !important;
	border: solid 1px var(--secondary-color) !important;
	border-radius: 0;
}
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span:after {
        border-color: var(--accent-color);
}
.theme-dark .checked-3_4uQ9 svg[name="Checkmark"] polyline {
	stroke: var(--accent-color);
}
.theme-dark .checkbox-3kaeSU .checkboxInner-3yjcPe span {
	border: 0;
}
.theme-dark .checkbox-1ix_J3 {
	border-radius: 0;
	border-color: var(--secondary-color);
}
#bd-settingspane-container .bd-pfbtn {
	background-color: var(--secondary-color);
	border-radius: 0 !important;
}
.theme-dark .accountBtnInner-sj5jLs {
	background-color: var(--main-color);
}
.theme-dark .cardPrimaryOutline-29Ujqw {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .closeButton-1tv5uR:hover {
	background-color: var(--secondary-color-transparent);
}
.ui-standard-sidebar-view .content-region-scroller .tools {
	color: #72767d;
}
.theme-dark .bda-slist .bda-footer button {
	background-color: var(--secondary-color) !important;
	border-radius: 0;
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV {
	background-color: var(--secondary-color-transparent);
	color: white;
	border-radius: 0;
}
.lookGhost-2Fn_0-.colorBrand-3pXr91 {
	background-color: var(--accent-color-transparent);
	color: white;
	border-radius: 0;
}
.theme-dark .elevationHigh-1PneE4 {
	background-color: var(--main-color-transparent) !important;
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .bda-slist li {
	background-color: var(--main-color) !important;
	border: solid 1px var(--secondary-color) !important;
	border-radius: 0;
}
.theme-dark .auditLog-3jNbM6 {
	border-color: var(--secondary-color);
}
.theme-dark .card-FDVird {
	border-bottom: solid 1px var(--secondary-color-transparent);
	border-top: solid 1px var(--secondary-color-transparent);
}
.theme-dark .card-FDVird:before {
	background-color: var(--main-color);
	border-color: var(--secondary-color);
	border-radius: 0;
}
.container-CpszHS:not(.disabled-29eJ21):hover {
	border-radius: 0;
}
.theme-dark .button-mM-y8i {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
}
.theme-dark .button-mM-y8i:hover {
	background-color: var(--accent-color);
}
.theme-dark .user-settings-games .not-detected {
        background-color: var(--accent-color);
        border-radius: 0;
}
.theme-dark .user-settings-games .game {
	box-shadow: none;
	border: none;
}
.theme-dark .card-FDVird:hover{
	background-color: var(--main-color);
	border: none;
}
.theme-dark .card-FDVird{
	border-color: var(--secondary-color);
}
.horizontal-1ae9ci>.flex-1xMQg5:first-child, .horizontal-1ae9ci>.flexChild-faoVW3:first-child {
	border-radius: 0;
}
.theme-dark .wrapper-3jrx9n {
        border-radius: 0;
        border-color: var(--secondary-color);
}
.theme-dark .option-n0icdO {
        border-radius: 0;
}
.theme-dark .selected-mKYnfr.option-n0icdO {
        background-color: var(--secondary-color);
}
.theme-dark .option-n0icdO:hover {
        background-color: var(--secondary-color-transparent);
}
.theme-dark .divider-3573oO, .theme-dark .separator-gCa7yv, .theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
        background-color: var(--secondary-color-transparent);
}
#bd-settingspane-container .ui-switch-item .style-description {
	border-color: var(--secondary-color-transparent);
}
.standardSidebarView-3F1I7i #editor-detached button {
        background-color: var(--secondary-color);
        border-radius: 0;
}
.standardSidebarView-3F1I7i #editor-detached button:hover {
        background-color: var(--accent-color);
}
.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
	background-color: var(--secondary-color);
	border-radius: 0;
	color: white;
}
.theme-dark .topPill-30KHOu .itemSelected-1qLhcL:hover, .theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
}
.theme-dark .header-1RC2Wb:hover {
        background-color: var(--secondary-color-transparent);
}
.theme-dark .card-7JP0BX {
        background-color: transparent;
}
.headerButtonColor-G7_f-V {
        background-color: var(--secondary-color);
        border-radius: 0;
}
.theme-dark .player-1kJMbj {
        border-bottom-color: var(--accent-color-transparent);
}
.theme-dark .sectionLine-JjseS9 {
        background-color: var(--accent-color-transparent);
}
.carousel-2WxMes, .paginationItem-2lUq0s, .paginationItem-2lUq0s:before, .news-2GDtLJ, .assetsLargeImageActivityFeed-25vA7H, .assetsLargeImageActivityFeedXbox-3Tr-tf, .assetsLargeImageProfile-3YXDex {
        border-radius: 0;
}
.paginationItem-2lUq0s:before {
        background-color: var(--secondary-color);
}


/*Custom CSS*/
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls, .ace-monokai .ace_gutter {
	background-color: var(--main-color) !important;
	border: solid 1px var(--secondary-color) !important;
	box-shadow: none !important;
}
.ace-monokai .ace_marker-layer .ace_active-line {
	background-color: var(--secondary-color-transparent) !important;
}
.ace-monokai .ace_gutter-active-line {
        background-color: var(--accent-color-transparent) !important;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
	background-color: var(--secondary-color) !important;
	border-color: var(--accent-color) !important;
	border-radius: 0 !important;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover,.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
	background-color: var(--accent-color) !important;
}
.ace_content, .ace_scrollbar-h {
        background-color: var(--main-color-transparent);
}	
	
/*Checkmarks*/
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
	background-color: var(--secondary-color);
	border: 1px solid var(--accent-color);
	border-radius: 0;
}
.theme-dark .checkbox .checkbox-inner span {
	border-radius: 0;
	border-color: var(--secondary-color-transparent);
	border-width: 1px;
}
.theme-dark .add-game-popout {
	background-color: var(--main-color);
	border-radius: 0;
}

/*Server Search*/
.theme-dark .searchBox-3Y2Vi7 {
        background-color: var(--secondary-color-transparent);
        border: solid 1px var(--accent-color);
        border-radius: 0;
}
.card-3DjzTQ {
        border-radius: 0;
}
.theme-dark .wrapper-39oAo3 {
        background-color: var(--main-color);
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
        border-radius: 0;
}

/*User Popout*/
.userPopout-3XzG_A {
	border-radius: 0px;
	border: solid 1px var(--secondary-color);
}
.header-QKLPzZ {
	border-radius: 0;
}
.headerTop-3C2Zn0 {
	background-color: var(--main-color);
	border-bottom: solid 1px var(--secondary-color);
}
.activity-11LB_k {
	background-color: var(--secondary-color);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: var(--main-color);
}
.bodyTitle-Y0qMQz {
	color: white;
}
.theme-dark .quickMessage-1yeL4E {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.theme-dark .topSectionNormal-2-vo2m {
	background-color: var(--main-color);
}
.tabBarContainer-1s1u-z {
	border-color: var(--secondary-color);
}
.topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P {
	background-color: var(--secondary-color);
}

.theme-dark .ui-standard-sidebar-view .content-region {
	background-color: var(--main-color);
}
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
	border-radius: 0;
	border-color: var(--secondary-color);
}
.lookInverted-2D7oAl.colorGreen-29iAKY, .lookInverted-2D7oAl.colorBrand-3pXr91 {
	background-color: var(--secondary-color);
	border: solid 1px var(--accent-color);
	border-radius:0;
	color: white;
}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover, .lookInverted-2D7oAl.colorBrand-3pXr91:hover {
	background-color: var(--accent-color);
	border: solid 1px var(--secondary-color);
}
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
	background-color: var(--secondary-color);
        border: 1px solid var(--accent-color);
	border-radius: 0;
}
.theme-dark .listRow-hutiT_:hover {
	background-color: var(--secondary-color-transparent);
}
.theme-dark .note-3kmerW textarea, .theme-dark .note-3kmerW textarea:focus {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
	width:  230px;
	margin-left: 5px;
}
.theme-dark .note-3kmerW textarea::-webkit-scrollbar {
	display: none;
}
.theme-dark .activityName-1IaRLn {
	color: #FCFCFC;
}
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteShadow-iiGWFU {
	box-shadow: none !important;
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
	border: solid 1px var(--secondary-color);
}
.positionBottom-3oo9L9 .autocompleteArrowWrapper-3Z7OuM {
	display: none;
}
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteHeaderBackground-30T70q {
	background-color: var(--main-color);
}
.theme-dark .row-rrHHJU.selected-1pIgLL {
	background: var(--secondary-color-transparent);
}
.autocompleteScroller-iInVqR::-webkit-scrollbar {
    display: none;
}
.assetsLargeImageActivityFeed-25vA7H, .assetsLargeImageActivityFeedXbox-3Tr-tf, .assetsLargeImageProfile-3YXDex {
    border-radius: 0;
}  /*Roles*/  
.role-2irmRk {
    padding: 0;
}
.role-2irmRk, .roleCircleButton-377y0l, .member-perms .member-perm .perm-circle, .roleCircle-3xAZ1j {
    border-radius: 0;
}
.roleCircle-3xAZ1j, .member-perms .member-perm .perm-circle {
    height: 20px;
    width: 9px;
}
.addButton-pcyyf6 {
    padding: 5px;
}

/*File sending*/
.uploadModal-2ifh8j {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.uploadModal-2ifh8j .footer-3mqk7D {
	background-color: var(--main-color);
}
.uploadModal-2ifh8j .inner-3nWsbo, .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
	border-color: var(--secondary-color);
	border-radius: 0;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover{
	background-color: var(--secondary-color);
	border: solid 1px var(--secondary-color);
	border-radius:0;
	color: white;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
	background-color: var(--accent-color-transparent);
	border-radius: 0;
	color: white;
	margin-left: 30px;
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
	background-color: var(--accent-color);
	border-radius: 0;
	border: solid 1px var(--secondary-color-color);
	text-decoration: none;
}
.theme-brand .content-Qb0rXO {
	color: white;
}

/*Kick/Ban Popout*/
.Select .Select-menu {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.Select--single>.Select-control .Select-value, .Select-placeholder {
	border: 1px solid var(--secondary-color);
	border-radius: 0;
}
.theme-dark .select-2TCrqx .Select-option.is-focused, .theme-dark .select-2TCrqx .Select-option:hover{
	background-color: var(--secondary-color-transparent);
}
.theme-dark .ui-standard-sidebar-view, .theme-dark .modal-3HD5ck {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.theme-dark .input-cIJ7To, .theme-dark .input-cIJ7To:hover, .theme-dark .input-cIJ7To:focus {
	background-color: var(--secondary-color-transparent);
	border-color: var(--accent-color);
	border-radius: 0;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
	background-color: var(--secondary-color);
        border-radius: 0;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover, .lookFilled-1Gx00P.colorRed-1TFJan:active {
	background-color: var(--accent-color);
}

/*Auto Complete*/
.autocompleteRowVertical-q1K4ky {
	background-color: var(--main-color);
}
.theme-dark .selectorSelected-1_M1WV {
	background-color: var(--secondary-color-transparent);
        border: solid 1px var(--accent-color);
        border-radius: 0;
}
.theme-dark .autocomplete-1vrmpx {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}	
.autocompleteInner-zh20B_ {
	padding: 0;
}

/*Quick Switcher*/
.theme-dark .quickswitcher-3JagVE {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .input-2VB9rf {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.theme-dark .contentDefault-16dKSY:hover, .theme-dark .resultFocused-3aIoYe{
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .contentDefault-16dKSY {
	border-radius: 0;
}

/*Emoji List*/
#bda-qem-twitch-container .scroller-wrap, #bda-qem-favourite-container .scroller-wrap, .searchBar-2_Yu-C.searchBarLight-1NxoDG {
        background-color: var(--main-color) !important;
}
.emoji-picker, .emojiPicker-3m1S-j, .emojiPicker-3m1S-j .header-1nkwgG .search-bar, .emojiPicker-3m1S-j .category-2U57w6 {
        background-color: var(--main-color) !important;
}
.emojiPicker-3m1S-j {
        border: solid 1px var(--secondary-color);
        border-radius: 0;
}
#bda-qem button {
        background-color: var(--secondary-color) !important;
        border-radius: 0 !important;
        border-color: var(--secondary-color) !important;
        color: white;
        box-shadow: var(--secondary-color) 1px 0 0 0 !important;
}
#bda-qem button:hover {
        background-color: var(--accent-color-transparent) !important;
}
#bda-qem button.active {
        background-color: var(--accent-color) !important;
}
#bda-qem {
        background: var(--secondary-color);
        border-color: var(--secondary-color);
        padding-right: 0 !important;
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
        background-color: var(--secondary-color-transparent);
        border: solid 1px var(--accent-color);
        border-radius: 0 !important;
}
.popoutTop-3uu9vG.noArrow-3BYQ0Z, .popoutTopRight-3BzFIE.noArrow-3BYQ0Z {
        border: solid 1px var(--secondary-color) !important;
        border-radius: 0 !important;
        background-color: var(--main-color);
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
        background-color: var(--secondary-color) !important;
        border-radius: 0;
}
.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
	background-color: transparent;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
	border-bottom-color: var(--secondary-color);
}

/*Search Function*/
.theme-dark .focused-2bY0OD {
	background-color: var(--main-color);
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
	background-color: var(--accent-color);
	border-radius: 0;
}
.theme-dark .search-l1Wz-Q {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.theme-dark .searchHeader-1l-wpR {
	background-color: var(--main-color);
	border-left: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
	border-radius:0;
}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
	background-color: var(--secondary-color-transparent);
	padding-left: 10px;	
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
	background-color: var(--main-color);
	border: 0;
}
.th.searchResult-3pzFAB:before, .theme-dark .channelSeparator-1X1FuH:before, .theme-dark .searchResult-3pzFAB:before, .theme-dark .searchResult-3pzFAB:after  {
	display: none;
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz, .theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
	border: 0;
	border-radius: 0;
}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA {
	background-color: var(--main-color);
	box-shadow: none !important;
}
.theme-dark .queryContainer-RKFJW-:hover {
	background-color: var(--secondary-color);
}
.theme-dark .option-96V44q.selected-rZcOL-:after {
	background: linear-gradient(90deg,rgba(35,38,42,0),var(--secondary-color-transparent) 50%);
} 
.theme-dark .option-96V44q:after { 
        background: transparent;
 }
.theme-dark .elevationBorderHigh-2WYJ09 {
        margin-top: -11px;
}
.theme-dark .jumpButton-Ia2hRJ {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .jumpButton-Ia2hRJ:hover {
	background-color: var(--secondary-color);
}
.theme-dark .option-96V44q.selected-rZcOL- {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}

/*Calendar*/
.theme-dark .popout-3sVMXz {
	background-color: var(--main-color);
	border-radius: 0;
}
.theme-dark .elevationBorderHigh-2WYJ09 {
        box-shadow: 0 0 0 1px var(--secondary-color), 0 0px 0px 1px var(--secondary-color);
        border-radius: 0;
} 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
	background-color: var(--main-color);
	border-color: var(--secondary-color-transparent);
}
.theme-dark .datePicker--XZbmJ {
	border-radius: 0;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
	border-radius: 0;
	background-color: var(--main-color);
}
.theme-dark .container-3ayLPN {
	background-color: var(--main-color);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
	border-top-color: var(--secondary-color-transparent);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
	border-radius: 0;
	border-color: var(--secondary-color);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day, .calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type {
	background-color: var(--main-color);
	border-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
	background-color: var(--accent-color);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
	background-color: var(--accent-color) !important;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
	background-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
	background-color: var(--accent-color);
}

/*Other Popouts*/
.theme-dark .searchPopout-1vUlP3 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.themedPopout-25DgLi .header-SsaQ8X {
	background-color: var(--main-color);
}
.themedPopout-25DgLi .header-SsaQ8X .title-23FrqZ {
	color: white;
	text-align: center;
}
.clickOverride-1J40_l {
	border-radius: 0;
	border: solid 1px var(--secondary-color);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	background-color: var(--accent-color);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark.contextMenu-HLZMGh {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.theme-dark .item-1Yvehc:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .body-SKIE6r {
	background-color: var(--secondary-color);
}
.theme-dark .header-1RC2Wb{
	background-color: var(--main-color);
}
.theme-dark .card-7JP0BX {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .themedPopout-25DgLi {
	background-color: var(--main-color) !important;
        border: solid 1px var(--secondary-color) !important;
	border-radius:0;
}
.theme-dark .searchBar-1MOL6S {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.bd-modal-wrapper .bd-modal-body, .bd-modal-wrapper .header {
	background-color: var(--main-color) !important;
}
.bd-modal-wrapper .bd-modal-inner {
	border-color: var(--secondary-color) !important;
	border-radius: 0 !important;
}
.theme-dark .footer-1kmXd4 {
	background-color: var(--main-color);
        border-top: solid 1px var(--secondary-color);
}
.theme-dark .container-3cGP6G {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
        border-radius: 0;
}
.create-guild-container.deprecated .form.deprecated .form-inner, .create-guild-container.deprecated .action  {
	background-color: var(--main-color);
        border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.create-guild-container.deprecated .action:hover.create .btn {
	background-color: var(--accent-color);
}
.create-guild-container.deprecated h5 {
	color: var(--accent-color);
}
.root-SR8cQa {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .reactionSelected-1pqISm {
	background-color: var(--secondary-color-transparent);
        border-radius: 0;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
	background-color: var(--main-color);
	box-shadow: none;
}
.theme-dark .jumpButton-3DTcS_ {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.messageGroupWrapperOffsetCorrection-phOU-k {
	background-color: var(--main-color);
	margin-right: -10px;
}
.resultsGroup-r_nuzN {
	background-color: var(--main-color);
	border-radius: 0;
	border-top: none;
}
.theme-dark .resultsGroup-r_nuzN:before {
	border-top: none;
}
.bd-modal-wrapper .footer button:hover {
	background-color: var(--secondary-color) !important;
}
.bd-modal-wrapper .footer button{
	background-color: var(--accent-color) !important;
	border-radius: 0 !important;
}
.theme-dark .message-2qRu38 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .noChannel-Z1DQK7 {
	background-color: var(--main-color);
}
.search-bar-tag {
	background-color: var(--accent-color);
	border-radius: 0;
}
.form-deprecated .control-group input[type=email], .form-deprecated .control-group input[type=number], .form-deprecated .control-group input[type=password], .form-deprecated .control-group input[type=text], .form-deprecated .control-group textarea, .form.deprecated .control-group input[type=email], .form.deprecated .control-group input[type=number], .form.deprecated .control-group input[type=password], .form.deprecated .control-group input[type=text], .form.deprecated .control-group textarea {
	background-color: var(--secondary-color-transparent);
	border: solid 1px var(--accent-color);
	border-radius: 0;
}
.form-deprecated .form-actions, .form.deprecated .form-actions {
	background-color: var(--main-color);
	border-top: 0;
	border-left: solid 1px var(--secondary-color);
	border-right: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
	border-radius: 0;
}
.regionSelect-3lf4eE .regionSelectInner-24f4Ce, .regionSelect-3lf4eE button {
	border-color: var(--secondary-color);
	border-radius: 0;
}
.regionSelect-3lf4eE:hover .regionSelectInner-24f4Ce, .regionSelect-3lf4eE:hover button {
	border-color: var(--accent-color)
}
.regionSelect-3lf4eE:hover button {
	background-color: var(--accent-color);
}
.form-deprecated .control-group input[type=email]:focus, .form-deprecated .control-group input[type=number]:focus, .form-deprecated .control-group input[type=password]:focus, .form-deprecated .control-group input[type=text]:focus, .form-deprecated .control-group textarea:focus, .form.deprecated .control-group input[type=email]:focus, .form.deprecated .control-group input[type=number]:focus, .form.deprecated .control-group input[type=password]:focus, .form.deprecated .control-group input[type=text]:focus, .form.deprecated .control-group textarea:focus {
	border-bottom-width: 1px;
}
.form.deprecated .control-group input[type=text]:focus {
	border-bottom: solid 1px var(--accent-color);
}
.form.deprecated .control-group input[type=text] {
	color: white;
}
.form-deprecated .btn-default, .form.deprecated .btn-default {
	background-color: var(--main-color);
}
.form-deprecated .btn-primary, .form.deprecated .btn-primary {
	background-color: var(--secondary-color);
	border-radius: 0;
}
.form-deprecated .btn-primary:hover, .form.deprecated .btn-primary:hover {
	background-color: var(--accent-color);
}
.regionSelectModal-12e-57, .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
	background-color: var(--main-color);
	border: solid 1px var(--secondary-color);
	border-radius: 0;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover {
	border-color: var(--accent-color);
}
.regionSelectModal-12e-57 .regionSelectModalHeader-21khC1 {
	color: var(--accent-color);
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
	border-color: var(--accent-color);
	border-radius: 0;
	color: var(--accent-color);
}
.theme-dark .inviteRow-2L02ae:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
.cardWarning-2yPNAa {
	margin-top: 10px;
	background-color: var(--accent-color);
	border-color: var(--secondary-color);
	border-radius: 0;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
	background-color: var(--accent-color);
}
.theme-dark .close-18n9bP:hover {
	background-color: var(--secondary-color-transparent);
	border-radius: 0;
}
#autocomplete-popout header {
        background-color: var(--main-color);
}
#autocomplete-popout {
        border-radius: 0;
        border: solid 1px var(--secondary-color);
}
.theme-dark #autocomplete-popout .row.selected {
        background: var(--secondary-color-transparent);
}
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar {
        display: none;
}
.theme-dark .itemGroup-1tL0uz {
	border-color: var(--secondary-color-transparent);
}
.themerepo-modal .themeEntry.updated .btn-download {
	background-color: var(--accent-color) !important;
}
.create-guild-container.deprecated .create-or-join .actions .or {
	display: none;
}
.theme-dark .standardSidebarView-3F1I7i {
	background-color: var(--main-color);
}
.theme-dark .separator-gVaq9g {
       border-color: var(--secondary-color-transparent);
}
.theme-dark .or-3THJsp {
       border-color: var(--secondary-color);
}
.theme-dark .wrapper-2ZbzR9 {
	border-right: solid 1px var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
	border-radius: 0;
}
.theme-dark .or-3THJsp, .theme-light .or-3THJsp {
        background-image: none;
}
.theme-dark .action-1lSjCi, .theme-light .action-1lSjCi {
        background-color: transparent;
}
.theme-light .footer-2yfCgX {
        box-shadow: none !important;
}
.theme-light .input-UJ9Tr3 {
        color: white;
}

/*BetterDocs Blocker - credit: https://github.com/anti-betterdocs/BlockBetterDocs/blob/master/code.css*/
.typeWindows-1za-n7 + .platform-web .app {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-image: var(--BetterDocsBlockerWarn) !important;
        cursor: not-allowed !important;
        position: absolute !important;
        display: block !important;
        opacity: 1 !important;
        left: 0 !important;
        top: -70px !important;
        margin: 0 !important;
        z-index: 999999999 !important;
        visibility: visible !important;
}

html body #app-mount .app-19_DXt .app-2rEoOp .layers-3iHuyZ .layer-3QrUeG .container-2lgZY8 .spacer-29U_x8 .channels-Ie2l6A .container-2Thooq .avatar-3JE4B3 .inner-1W0Bkn[style*="avatars/438014606066319370"] {
        z-index: 1000000000000000000000000000000000000000000 !important;
        transform: scale(100000000);
        pointer-events: none !important;
        background: #fff !important;
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
}

#app-mount .containerCozy-jafyvG .markup-2BOw-j > .anchor-3Z-8Bb[href*="www.betterdocs." i]::after, 
#app-mount .containerCozy-jafyvG .markup-2BOw-j > .anchor-3Z-8Bb[href*="://betterdocs." i]::after {
        content: var(--BetterDocsBlockerWarnLogo2) !important;
        position: relative !important;
        top: 3px !important;
        margin: 0 2px !important;
}

.embedLink-1G1K1D[href*="://betterdocs." i],
.containerCozy-jafyvG .markup-2BOw-j a[href*="://betterdocs." i] {
        color: var(--BetterDocsBlockerRed) !important;
        font-weight: bold;
        pointer-events: none;
}

.embedLink-1G1K1D[href*="://betterdocs." i]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="://betterdocs." i]::selection {
        background-color: transparent !important;
}

.embed-IeVjo6 a[href*="://betterdocs." i]:before {
        color: var(--BetterDocsBlockerWhite);
        border: 2px solid var(--BetterDocsBlockerRed);
        background: var(--BetterDocsBlockerBlack1) var(--BetterDocsBlockerWarnLogo) bottom right/100px no-repeat;
        box-shadow:0 0 12px var(--BetterDocsBlockerBlack2), 0 0 12px var(--BetterDocsBlockerRed);
        padding: 10px;
        padding-right: 100px;
        margin-top: -33px;
        margin-left: -15px;
        border-radius: 5px !important;
        text-align: justify;
        position: absolute;
        font-weight: bold;
        height: 100%;  
        box-sizing: border-box;
        white-space: pre-wrap;
        overflow: hidden;
        letter-spacing: 0;
        content: 'BetterDocs is an unofficial source, and should be treated as such. The owner posts peoples themes and plugins without their permission, and also contains content that would not be found on the official BetterDiscord repos. This means it probably contains harmful plugins that could either get you into trouble with discord, or steal user account info. Please stay safe, and download from official sources only.';
}

.embed-IeVjo6 a[href*="://betterdocs." i] {
        color: transparent !important;
        height: 70px;
}

.embed-IeVjo6 a[href*="betterdocs.net/preview" i]:before,
.embed-IeVjo6 a[href*="betterdocs.us/preview" i]:before {
        width: auto;
        line-height: 17px;
        height: 100%;   
        z-index: 2;
        padding: 10px;
        color: var(--BetterDocsBlockerWhite);
        background: var(--BetterDocsBlockerBlack1) var(--BetterDocsBlockerWarnLogo) top/30% no-repeat;
        display: flex;  
        text-align: justify;
        align-content: center;
        align-items: center;
        white-space: pre-wrap;
        content: 'This is an unofficial source, and should be treated as such. The owner posts peoples themes and plugins without their permission, and also contains content that would not be found on the official BetterDiscord repos. This means it probably contains harmful plugins that could either get you into trouble with discord, or steal user account info. Please stay safe, and download from official sources only.';
}

.wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168"]::after {
       content: 'BetterDocs is not an official source of themes and plugins\a and should not be trusted. The creator posts content\a without permission and it may have harmful plugins.\a Do not use BetterDocs.';
       color: var(--BetterDocsBlockerWhite);
       background: var(--BetterDocsBlockerBlack1) var(--BetterDocsBlockerWarnLogo) left/auto 100% no-repeat;
       border: 2px solid var(--BetterDocsBlockerRed);
       box-shadow:0 0 12px var(--BetterDocsBlockerBlack2), 0 0 12px var(--BetterDocsBlockerRed);
       padding: 10px 7px 10px 100px;
       margin-top: -35px;
       margin-left: -18px;
       border-radius: 5px !important;
       position: absolute;
       font-weight: bold;   
       letter-spacing: 0;
       font-size: 15px;
       width: 300px;
       height: 78px;
}

.button-3To2tQ.buttonSize-DbrWhv {
       z-index: -1;
}

#app-mount .wrapper-35wsBm {
       z-index: 1 !important;
}

.markup-2BOw-j .anchor-3Z-8Bb[href="https://discordapp.com/invite/D4cAkXX" i] {
       color: transparent !important;
       cursor: not-allowed !important;
       pointer-events: none !important;
       letter-spacing: -1000px !important;
}

.markup-2BOw-j .anchor-3Z-8Bb[href="https://discordapp.com/invite/D4cAkXX" i]:after {
       content: 'Harmful Invite Detected - BetterDocs';
       color: var(--BetterDocsBlockerRed) !important;
       margin-left: -8px;
       font-weight: bold;
       pointer-events: none;
       letter-spacing: 0;
}
