//META{"name":"Indigo","description":"A dark purple theme that you can customize. Not compatible with light mode. Special thanks to Lyn for pointing out a few mistakes and helping out with theming enabled settings.","author":"Vaxu","version":"1.5.3"}*//{}

@import url(https://vaxuuu.github.io/Indigo-Theme/Indigoraw.css);
 
:root {
	--main-color: #000000; /*Responsible for the background color*/
	--main-color-transparent: rgba(0,0,0,0.7); /*Preferably use the same color as in --main-color, but with decreased opacity via rgba, the same goes for the other transparent colors*/
	--secondary-color: #4B0082; /*Responsible for all borders and buttons*/
	--secondary-color-transparent: rgba(75,0,130,0.4); /*Responsible for background colors of smaller elements*/
	--accent-color: #9400d3; /*Responsible for smaller elements and buttons on hover. I'd suggest that you use a different shade of the color you used in --secondary-color, but you're free to experiment!*/
	--accent-color-transparent: rgba(148,0,211,0.4); /*Responsible for the same things as in --accent-color*/
}




